*,body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif,Arial, Helvetica;
}
.App {
  text-align: center;
  background-color: #fefefe;
  min-height: 90vh;
  width: 50%;
  margin: 20px auto;

}

@media screen and (max-width: 1024px) { 
  .App,.search{
    width: 80% !important;
  }
  .transaction-list-container{
    width: 48% !important;
  }
}
@media screen and (max-width: 768px) { 
  .App,.search{
    width: 95% !important;
  }
  .transaction-list-container{
    width: 100% !important;
  }
}
.chartBar{
  margin: 50px 0;
  width: auto !important;
}




















